*{padding: 0;margin: 0; user-select: none;}
::-webkit-scrollbar{display: none;}
li,a{text-decoration: none; list-style: none;color: #ffffff90;}
.sj{display: none;}
.cdh ul{width: 100px; color: #fff; position: fixed;  right: -10%; top: 45%; background: #1A293C50; overflow: hidden; transition: .6s; z-index: 99;}
.cdh li{line-height: 50px; font-size: 18px; text-align: center; transition: .5s;}
.cdh li:hover{background:#ffffff50;}
.main>div{width: 100%; height: 100vh; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position: center center;}
.a{background: url(img/a.jpg);}
.b{background: url(img/b.jpg);}
.c{background: url(img/c.jpg);}
.d{background: url(img/d.jpg);}
.e{background: url(img/e.jpg);}
.f{background: url(img/f.jpg);}
.g{background: url(img/g.jpg);}
.h{background: url(img/h.jpg);}

@media screen and (max-width: 1500px) {
  .l{display: none;}
  body{width: 100%; height: 100vh; background: url(../img/banner.jpg);}
  .sj{display: flex; flex-wrap: wrap; justify-content: space-around; width: 100%; transform: translateY(50vh); font-size: 20px; color: #fff;}
}